:root {
    --deep-purple: #271549;
    --blue: #37B7D5;
    --yellow: #FAD053;
    --orange: #FF6900;
    --white: #EEEFF3;
    --black: #000000;
    --pink: #DA4759;
    --light-purple: #BA33D4;
  }