#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin-top: 50px;
    background-color: var(--deep-purple);
    color: var(--white);
}