body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-container {
    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    display: flex;
    background-color: white;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

.custom-container h1 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 20px; 
    color: #333;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center; 
    width: 100%; 
}

.input-group {
    width: 80%;
    margin: 10px 0; 
    text-align: left; 
}

.input-group label {
    font-size: 16px;
    color: #333;
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 5px; 
    display: block; 
}

.input-field {
    width: 100%; 
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    outline: none;
    background-color: #f0f0f0; 
    border: none;
}

.input-field:focus {
    box-shadow: black 0px 0px 5px; 
}

textarea.input-field {
    resize: vertical; 
    height: 100px; 
}

.submit-button {
    width: 20%; 
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--blue); 
    color: var(--white); 
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.submit-button:hover {
    background-color: var(--deep-purple); 
}
