body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    justify-content: center; /* Centre les sections horizontalement */ /* Prend toute la hauteur de la page */
}

.section {
    width: 40%; /* Ajuste la largeur des sections */
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.section-right {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Prend toute la largeur disponible */
    margin: 30px;
}

.circle {
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--light-purple);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.row-text {
    flex-grow: 1;
    text-align: left;
    font-size: 1.1rem;
}

.row button {
    font-size: 1.1rem;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.row .button_unavailable {
    background-color: var(--white);
    color: var(--grey);
    cursor: default;
}

.row button:hover {
    background-color: var(--dark-blue);
}

.row .button_unavailable:hover {
    background-color: var(--white);
}

.header-title {
    font-size: 1.3rem;
    text-align: start;
}

.validate-button {
    font-size: 1.1rem;
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

#footer-container {
    position: relative;
    bottom: 0;
}

.popup-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Couleur verte pour le succès */
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}