<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

<div id="header-container">
    <div id="header-elements">
        <a href="/">
            <img id="icon" src="{{ url_for('static', filename='assets/epsi-logo.png') }}" alt="EPSI logo">
        </a>
        <p id="header-title">EPSI MATOS</p>
        <div class="buttons">
            <button id="logout-btn" onclick="location.href='/sign_out'">Déconnexion</button>
        </div>
    </div>
</div>