<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Accueil</title>
</head>

<body>
    {% include 'header.html' %}
    <div id="home-container">
        <div id="left-section">
            <div>
                <input class="searchbar" type="text" placeholder="⌕  Rechercher une salle">
            </div>
            <div>
                <div class="dropdown">Etage ↓</div>
            </div>
            <div id="list-reports"></div>
        </div>
        <div class="vertical-line"></div>
        <div id="home-links">
            <a href="/report">
                <div class="custom-container" id="reports-bloc">
                    Signaler du matériel défaillant
                </div>
            </a>
            <a href="/booking">
                <div class="custom-container" id="bookings-bloc">
                    Réserver du matériel
                </div>
            </a>
            <a href="/suggestion">
                <div class="custom-container" id="suggestions-bloc">
                    Suggestion de matériel
                </div>
            </a>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
