<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\suggestions.css">
    <title>Suggestion de matériel</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="title-return">
        <a href="/" class="back-button">&#8592;</a>
        <div class="page-title">SUGGESTIONS</div>
    </div>
    <main>
        <div>
            <img src="">
        </div>
        <div class="custom-container" id="form_sugg">
            <p id="titre">Faire une suggestion de matériel</p>
            <form method="post" action="{{ url_for('suggestion.upload_suggestion') }}" id="formulaire_suggestion">
                <div id="form">
                    <div class="input_form">
                        <label for="nom_mat">Nom du matériel :</label>
                        <input class="input" type="text" name="nom_materiel" required>
                    </div>
                    <div class="input_form">
                        <label for="nombre_mat">Nombre :</label>
                        <input class="input" type="number" name="nombre_materiel" required>
                    </div>
                    <div class="input_form">
                        <label for="descr_mat">Description du matériel et de son utilité :</label>
                        <textarea type="text" name="description_materiel" rows="4" required></textarea>
                    </div>
                    <div id="bouton_form_suggestion"><input type="submit" value="Envoyer" id="bouton_form"></div>
                </div>
            </form>
        </div>
        <p id="sugg-text">Voir les autres suggestions</p>
        <div id="les_autres_suggestions">
            {% for row in data %}
            <div id="suggestion">
                <div id="description_suggestion">
                    <p class="description">{{ row[0] }}</p>
                    <p class="description">{{ row[1] }}</p>
                    <p id="description">{{ row[2] }}</p>
                </div>
                <div id="like_suggestion">
                    <img src="../static/assets/like-svgrepo-com.svg" height="80px" width="80px">
                    <p style="margin:0px;">15</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
<footer>
    {% include 'footer.html' %}
</footer>

</html>