<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion de matériel</title>
</head>

<body>
    <header>
    </header>
    <main>
        <div>
            <img src="">
        </div>
        <div>
            <form method="post" action="" id="formulaire_suggestion">
                <label for="username">Nom du matériel:</label>
                <input type="text" name="nom_materiel">
                <label for="username">Nombre :<label>
                <input type="numeber" name="nombre_materiel">
                <label for="username">Description du matériel et de son utilité :</label>
                <input type="text" name="description_materiel">
                <div id="bouton_form_suggestion"><input type="submit" value="Envoyer" id="bouton_form"></div>
            </form>
        </div>
        <div>
            <p>Voir les autres suggestions</p>
            <img src="">
        </div>
    </main>
</body>

</html>